<robot name="robodog" version="1.0">
  <joint name="back_left_ball_collision_link_joint" type="fixed">
    <origin rpy="-3.14159 -1.57080 0.00000" xyz="0.57902 -0.34558 -0.02243"/>
    <parent link="front_left_bot_leg_link"/>
    <child link="front_left_leg_foot_link"/>
  </joint>
  <joint name="back_left_bot_leg_link_joint" type="revolute">
    <limit lower="-1.04720" upper="2.79253" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.35155 0.41990 -0.01402"/>
    <parent link="back_left_mid_leg_link"/>
    <child link="back_left_bot_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="back_left_mid_leg_link_joint" type="revolute">
    <limit lower="-1.57080" upper="0.87266" effort="0.00000" velocity="1.04720"/>
    <origin rpy="-1.57079 0.00000 0.00000" xyz="0.07465 0.13760 -0.49515"/>
    <parent link="back_left_top_leg_link"/>
    <child link="back_left_mid_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="back_left_top_leg_link_joint" type="revolute">
    <limit lower="-0.52360" upper="1.57080" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.57079 1.57080 0.00000" xyz="0.33081 0.34784 -0.07472"/>
    <parent link="main_link"/>
    <child link="back_left_top_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="back_right_ball_collision_link_joint" type="fixed">
    <origin rpy="-3.14159 1.56944 -0.00000" xyz="-0.57920 -0.34558 -0.02371"/>
    <parent link="front_right_bot_leg_link"/>
    <child link="front_right_leg_foot_link"/>
  </joint>
  <joint name="back_right_bot_leg_link_joint" type="revolute">
    <limit lower="-2.79253" upper="1.04720" effort="0.00000" velocity="1.04720"/>
    <origin rpy="-0.00000 0.00000 -0.00000" xyz="-0.35155 0.41990 -0.01402"/>
    <parent link="back_right_mid_leg_link"/>
    <child link="back_right_bot_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="back_right_mid_leg_link_joint" type="revolute">
    <limit lower="-0.87266" upper="1.57080" effort="0.00000" velocity="1.04720"/>
    <origin rpy="-1.57079 0.00000 0.01697" xyz="-0.07698 0.13632 -0.49515"/>
    <parent link="back_right_top_leg_link"/>
    <child link="back_right_mid_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="back_right_top_leg_link_joint" type="revolute">
    <limit lower="-1.57080" upper="0.52360" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.57079 -1.57080 0.00000" xyz="-0.33081 0.34784 -0.07472"/>
    <parent link="main_link"/>
    <child link="back_right_top_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="front_left_ball_collision_link_joint" type="fixed">
    <origin rpy="-3.14159 -1.57080 0.00000" xyz="0.48243 -0.47826 0.00556"/>
    <parent link="back_left_bot_leg_link"/>
    <child link="back_left_leg_foot_link"/>
  </joint>
  <joint name="front_left_bot_leg_link_joint" type="revolute">
    <limit lower="-1.04720" upper="2.79253" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.28599 0.47085 0.08165"/>
    <parent link="front_left_mid_leg_link"/>
    <child link="front_left_bot_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="front_left_mid_leg_link_joint" type="revolute">
    <limit lower="-1.57080" upper="0.87266" effort="0.00000" velocity="1.04720"/>
    <origin rpy="-1.57080 0.00000 0.00000" xyz="0.07307 0.07389 -0.28308"/>
    <parent link="front_left_top_leg_link"/>
    <child link="front_left_mid_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="front_left_top_leg_link_joint" type="revolute">
    <limit lower="-0.52360" upper="1.57080" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.57080 1.57080 0.00000" xyz="0.33081 -1.00714 -0.07472"/>
    <parent link="main_link"/>
    <child link="front_left_top_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="front_right_ball_collision_link_joint" type="fixed">
    <origin rpy="0.00000 1.55383 3.14159" xyz="-0.48011 -0.47826 0.02096"/>
    <parent link="back_right_bot_leg_link"/>
    <child link="back_right_leg_foot_link"/>
  </joint>
  <joint name="front_right_bot_leg_link_joint" type="revolute">
    <limit lower="-2.79253" upper="1.04720" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 0.00000 -0.00000" xyz="-0.28599 0.47085 0.08165"/>
    <parent link="front_right_mid_leg_link"/>
    <child link="front_right_bot_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="front_right_mid_leg_link_joint" type="revolute">
    <limit lower="-0.87266" upper="1.57080" effort="0.00000" velocity="1.04720"/>
    <origin rpy="-1.57080 0.00000 -0.00136" xyz="-0.07297 0.07399 -0.28308"/>
    <parent link="front_right_top_leg_link"/>
    <child link="front_right_mid_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="front_right_top_leg_link_joint" type="revolute">
    <limit lower="-1.57080" upper="0.52360" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.57080 -1.57080 0.00000" xyz="-0.33081 -1.00714 -0.07472"/>
    <parent link="main_link"/>
    <child link="front_right_top_leg_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="main_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 1.00000"/>
    <parent link="link_root"/>
    <child link="main_link"/>
  </joint>
  <link name="back_left_bot_leg_link">
    <collision name="back_left_bot_leg_collision">
      <origin rpy="-0.87266 -1.57080 0.00000" xyz="0.28539 -0.23943 0.00831"/>
      <geometry>
        <cylinder radius="0.10289" length="0.37440"/>
      </geometry>
    </collision>
    <collision name="back_left_mid_leg_collision">
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00439 -0.00145 0.00327"/>
      <geometry>
        <cylinder radius="0.16016" length="0.14640"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.07860" ixy="-0.00002" ixz="-0.00001" iyy="0.04018" iyz="-0.03551" izz="0.04046"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.23583 -0.21523 0.00786"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="back_left_bot_leg">
      <origin rpy="-0.00010 -1.54462 0.00010" xyz="0.21128 -0.20989 0.01557"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.002.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="back_left_leg_foot_link">
    <collision name="back_left_ball_collision">
      <origin rpy="3.14159 0.00000 0.00000" xyz="0.00397 -0.00000 0.00000"/>
      <geometry>
        <sphere radius="0.10444"/>
      </geometry>
    </collision>
    <visual name="back_left_bot_foot">
      <origin rpy="3.14159 -0.02618 -0.00000" xyz="0.01001 -0.26837 -0.27116"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.012.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="back_left_mid_leg_link">
    <collision name="back_left_midtop_leg_collision">
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.12957 0.20702 0.02877"/>
      <geometry>
        <cylinder radius="0.14306" length="0.15862"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.05674" ixy="-0.00788" ixz="0.00556" iyy="0.03135" iyz="0.02133" izz="0.04108"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.09536 0.12817 -0.04920"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="back_left_mid_leg">
      <origin rpy="-0.00010 -1.54462 0.00010" xyz="0.15942 0.18959 -0.05785"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.004.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="back_left_top_leg_link">
    <collision name="back_left_top_leg_collision">
      <origin rpy="0.00000 -0.00001 1.57080" xyz="-0.00021 0.00118 -0.36525"/>
      <geometry>
        <cylinder radius="0.22085" length="0.77385"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.08059" ixy="0.00012" ixz="-0.00066" iyy="0.02076" iyz="0.00467" izz="0.08146"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00782 0.02495 -0.25191"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="back_left_top_leg">
      <origin rpy="-1.57080 -0.00000 1.54462" xyz="0.03016 0.02291 -0.36756"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="back_right_bot_leg_link">
    <collision name="back_right_bot_leg_collision">
      <origin rpy="2.26893 1.55383 3.14159" xyz="-0.28305 -0.23943 0.02037"/>
      <geometry>
        <cylinder radius="0.10289" length="0.37440"/>
      </geometry>
    </collision>
    <collision name="back_right_mid_leg_collision">
      <origin rpy="-3.14159 -0.01697 3.14159" xyz="-0.00218 -0.00145 0.01056"/>
      <geometry>
        <cylinder radius="0.16016" length="0.14640"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.07810" ixy="0.00002" ixz="0.00000" iyy="0.03997" iyz="-0.03527" izz="0.04018"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.23350 -0.21520 0.01908"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="back_right_bot_leg">
      <origin rpy="3.14153 1.52765 3.14153" xyz="-0.20910 -0.20989 0.01206"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.008.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="back_right_leg_foot_link">
    <collision name="back_right_ball_collision">
      <origin rpy="3.14159 -0.00000 0.00000" xyz="-0.00397 -0.00000 -0.00000"/>
      <geometry>
        <sphere radius="0.10444"/>
      </geometry>
    </collision>
    <visual name="back_right_bot_foot">
      <origin rpy="3.14159 -0.02618 -0.00000" xyz="0.00430 -0.26837 -0.27113"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.013.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="back_right_mid_leg_link">
    <collision name="back_right_midtop_leg_collision">
      <origin rpy="-3.14159 -0.01697 3.14159" xyz="-0.12671 0.20702 0.03221"/>
      <geometry>
        <cylinder radius="0.14306" length="0.15862"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.05664" ixy="0.00785" ixz="-0.00553" iyy="0.03131" iyz="0.02128" izz="0.04103"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.09365 0.12792 -0.04630"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="back_right_mid_leg">
      <origin rpy="3.14153 1.52765 3.14153" xyz="-0.15865 0.18959 -0.04542"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.010.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="back_right_top_leg_link">
    <collision name="back_right_top_leg_collision">
      <origin rpy="-0.00000 0.00001 -1.57080" xyz="-0.00340 -0.00246 -0.36525"/>
      <geometry>
        <cylinder radius="0.22085" length="0.77385"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.08039" ixy="-0.00023" ixz="0.00068" iyy="0.02070" iyz="0.00445" izz="0.08129"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00883 0.02380 -0.25155"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="back_right_top_leg">
      <origin rpy="-1.57080 0.00001 -1.59698" xyz="-0.02730 0.02285 -0.36756"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.006.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_left_bot_leg_link">
    <collision name="front_left_bot_leg_collision">
      <origin rpy="-0.64577 -1.57080 0.00000" xyz="0.31891 -0.18141 -0.02352"/>
      <geometry>
        <cylinder radius="0.10671" length="0.38831"/>
      </geometry>
    </collision>
    <collision name="front_left_mid_leg_collision">
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00450 -0.00054 -0.02091"/>
      <geometry>
        <cylinder radius="0.16262" length="0.15749"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.07797" ixy="-0.00003" ixz="-0.00003" iyy="0.05701" iyz="-0.03084" izz="0.02301"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.27791 -0.15277 -0.02568"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="front_left_bot_leg">
      <origin rpy="-0.00010 -1.54462 0.00010" xyz="0.25931 -0.14436 -0.01720"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.005.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_left_leg_foot_link">
    <collision name="front_left_ball_collision">
      <origin rpy="3.14159 0.00000 0.00000" xyz="-0.00397 -0.00000 -0.00000"/>
      <geometry>
        <sphere radius="0.10458"/>
      </geometry>
    </collision>
    <visual name="front_left_bot_foot">
      <origin rpy="3.14159 -0.02618 -0.00000" xyz="0.00523 -0.20122 -0.31971"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.014.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_left_mid_leg_link">
    <collision name="front_left_midtop_leg_collision">
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.11676 0.23371 0.07240"/>
      <geometry>
        <cylinder radius="0.14307" length="0.17878"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.05749" ixy="-0.00890" ixz="0.00445" iyy="0.02547" iyz="0.01921" izz="0.04794"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.07472 0.14082 0.01332"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="front_left_mid_leg">
      <origin rpy="-0.00010 -1.54462 0.00010" xyz="0.12759 0.21603 0.00750"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.001.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_left_top_leg_link">
    <collision name="front_left_top_leg_collision">
      <origin rpy="0.00000 0.00000 1.57080" xyz="-0.00111 -0.00073 -0.35048"/>
      <geometry>
        <cylinder radius="0.21890" length="1.01216"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.09603" ixy="0.01986" ixz="0.00048" iyy="0.02116" iyz="-0.00144" izz="0.10396"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00219 -0.03903 -0.39151"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="front_left_top_leg">
      <origin rpy="-1.57080 0.00000 1.54462" xyz="0.02893 -0.01419 -0.47504"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.003.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_right_bot_leg_link">
    <collision name="front_right_bot_leg_collision">
      <origin rpy="-0.64577 1.56944 0.00000" xyz="-0.31909 -0.18141 -0.02444"/>
      <geometry>
        <cylinder radius="0.10671" length="0.38831"/>
      </geometry>
    </collision>
    <collision name="front_right_mid_leg_collision">
      <origin rpy="3.14159 0.00136 3.14159" xyz="-0.00468 -0.00054 -0.02140"/>
      <geometry>
        <cylinder radius="0.16262" length="0.15749"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.07791" ixy="0.00002" ixz="0.00002" iyy="0.05692" iyz="-0.03083" izz="0.02304"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.27795 -0.15265 -0.02662"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="front_right_bot_leg">
      <origin rpy="3.14149 1.54598 3.14149" xyz="-0.25948 -0.14436 -0.03505"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.011.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_right_leg_foot_link">
    <collision name="front_right_ball_collision">
      <origin rpy="3.14159 -0.00000 0.00000" xyz="0.00397 0.00000 -0.00000"/>
      <geometry>
        <sphere radius="0.10458"/>
      </geometry>
    </collision>
    <visual name="front_right_bot_foot">
      <origin rpy="3.14159 -0.02618 -0.00000" xyz="0.01178 -0.20122 -0.31970"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.015.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_right_mid_leg_link">
    <collision name="front_right_midtop_leg_collision">
      <origin rpy="3.14159 0.00136 3.14159" xyz="-0.11696 0.23371 0.07215"/>
      <geometry>
        <cylinder radius="0.14307" length="0.17878"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.05738" ixy="0.00883" ixz="-0.00441" iyy="0.02543" iyz="0.01916" izz="0.04780"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.07494 0.14106 0.01311"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="front_right_mid_leg">
      <origin rpy="3.14149 1.54598 3.14149" xyz="-0.12821 0.21603 0.01365"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.007.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="front_right_top_leg_link">
    <collision name="front_right_top_leg_collision">
      <origin rpy="-0.00000 -0.00000 -1.57080" xyz="0.00113 -0.00147 -0.35048"/>
      <geometry>
        <cylinder radius="0.21890" length="1.01216"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.09571" ixy="-0.01986" ixz="-0.00048" iyy="0.02117" iyz="-0.00137" izz="0.10365"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00231 -0.03895 -0.39094"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="front_right_top_leg">
      <origin rpy="-1.57080 0.00000 -1.59698" xyz="-0.02715 -0.01418 -0.47504"/>
      <geometry>
        <mesh filename="../meshes/stl/back_left_top_leg_mesh.009.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="link_root"/>
  <link name="main_link">
    <collision name="main_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00237 -0.06618 -0.14242"/>
      <geometry>
        <box size="1.10281 2.56115 0.48185"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.44046" ixy="-0.00211" ixz="-0.00040" iyy="0.03746" iyz="-0.00736" izz="0.45659"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.01311 -0.27379 -0.14279"/>
      <mass value="1.00000"/>
    </inertial>
    <visual name="main">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.07960 -0.17250"/>
      <geometry>
        <mesh filename="../meshes/stl/main_mesh.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
</robot>